
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: 580px;
    background-color: aqua;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box{
    width: 280px;
    height: 470px;

    background-color: whitesmoke;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    text-align: center;

}
img{
    width: 280px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.box2{
    width: 250px;
     height: 50px;
     background-color: rgb(147, 207, 231);
     border-radius: 5px;
     margin: 15px;
     padding: 9px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
    
}
.submit{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(1, 1, 27);
    color: white;

    box-shadow: 7px 7px 9px black;
}
.submit:hover{
    box-shadow: 7px 7px 9px red;

}
.box4{
    margin: 20px;
}
.box5{
   
    display: flex;
    flex-direction: row; 
}
h3{
    margin: 5px;
}
