
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        .container{
            background-color: goldenrod;
        }
        h1{
            text-align: center;
            color: whitesmoke;
            height: 80px;
            padding-top: 20px;
            text-shadow: 10px 10px 10px black;
        }
        .box1{
            height: 30px;
            background-color: black;
            color: white;

            display: flex;
            justify-content:space-around;
            align-items: center;
        }
        h3{
            text-align: center;
            color: greenyellow;
        }
        .box2{
            padding: 5px;
            margin: 15px;
           
        }
        
        img{
            width: 200px;
            border-radius: 50px;
          
        }

        .box3{
            display: flex;
           justify-content: space-evenly;


        }

        .box4{
            display: grid;
            flex-direction: column;
        }

        li{
            padding: 5px;
        }
        
    